.kandyBag {
    background-color: rgb(255, 219, 230);
    display: flex;
    flex-direction: column;
    padding: 3rem;
    margin-right: 2rem;;
}

.purchasesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 4%;
    border: 1px solid;
}

.purchases {
    padding-bottom: 10rem;
    width: 40%;
}