.employee {
    background-color: lightblue;
    width: 75%;
    margin: -1px -1px;
    font-size: 16px;
}

.employee_data {
    display: flex;
    padding-bottom: 20px;
}

.hire_button {
    padding: 1rem 0;
}


.employee_data {
    padding: 0.75rem;
    margin: 2rem ;
    background-color: rgb(226, 241, 255);
    background-size: cover;
    width: max-content;
}

.btn-fire {
    margin-top: 1rem;
}